body {
    background-color: rgba(0, 0, 0, 0.7); /* Transparent black background */
    color: white; /* Text color */
    margin: 0; /* Remove default margin to ensure full-width body */
    overflow: visible;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr; /* Allocate 50% height to each row */
    height: 100vh;
    padding: 10px;
}

.sensorDataBox, .pressedKeysBox, .vid-stream, .userImage,
.lidar-container, .bot-image {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black box */
    padding: 10px;
    border-radius: 1rem;
    margin: 0.5rem;
}

.vid-stream {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1; /* Update grid row to be the first row */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pressedKeysBox {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#ArrowUp, #ArrowLeft, #ArrowDown, #ArrowRight,
#robodog, #lidar{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    object-fit: contain; /* Maintain aspect ratio and fill the space */
    border-radius: 30%;
}

.userImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.userImage p {
    font-size:x-large;
    font-weight: bolder;
}

#pfp {
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
    object-fit: cover;
}

/* Update the sensorDataBox styles for a 3-column grid layout */
.sensorDataBox {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    align-content: space-around;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-template-rows: auto; /* Automatically adjust row height */
    gap: 5px; /* Reduce the gap between rows */
}

/* Add this style to make the sensor data paragraphs evenly spaced */
#sensorData p {
    margin: 0;
    margin-top: 1rem;
    text-align: center; /* Center the text in each column */
    font-size: large; /* Adjust font size to make the text fit better */
}

#video_feed {
    max-height: 50vh; /* Set max height to be 50% of the viewport height */
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.held {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Box shadow for effect, adjust values as needed */
    opacity: 0.8; /* Adjust opacity as needed */
    transition: opacity 0.3s ease, box-shadow 0.3s ease; /* Transition both opacity and box-shadow */
}

/* Add these styles to transition the changes smoothly */
#ArrowUp, #ArrowLeft, #ArrowDown, #ArrowRight {
    transition: opacity 0.3s ease, box-shadow 0.3s ease; /* Transition both opacity and box-shadow */
    border-radius: 0;
}
